/__history
/__recovery
/eliForms
/FilesDLL
/release_1.03.01
/SomeFuncDLL
/Win32/Debug/*.*
/Win32/Release/*.*
!/Win32/Release/*.dll
*.odt
*.docx
*.doc
*.local
*.res
*.stat
*.~*
build
FilesDLL
release 1.03.01
release 1.03.02
SomeFuncDLL
